@using HairSalon.Models;
@model HairSalon.Models.Stylist;

@if (Model.Clients.Count == 0)
{
  <p>This stylist has no clients to display.</p>
}
@foreach (Client client in Model.Clients)
{
  <div><p>@Html.ActionLink($"{client.Name}", "Show", new { id = client.ClientId })</p></div>
}