@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model List<HairSalon.Models.Client>;

@if (Model.Count == 0)
{
  <p>There are no clients to display, please add a client.</p>
}
@foreach (Client client in Model)
{
  <section class="card mb-3">
    <div class="card-header">
      <div class="cardListName">Client: @client.Name</div>
      <div class="cardListButton">
        @using (Html.BeginForm("Destroy", "Clients", new {id = client.ClientId}))
        {
          <button type="submit" class="btn btn-danger">Remove Client</button>
        }
      </div>
    </div>
    <div class="card-body">
      <p>Stylist: @client.Stylist.Name</p>
    </div>
  </section>  
}